@{
    ViewBag.Title = "Contact Lakshay";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    Laskshay Arora<br />
    New Delhi - India<br />
    <abbr title="Phone">P:</abbr>
    5467456
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:lakshaya144@gmail.com">lakshaya144@gmail.com</a><br />
    <strong>Best Wishes:</strong> <a href="mailto:Marketing@example.com">Marketing@example.com</a>
</address>